* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hauora";
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

p {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  height: 100%;
}

.body {
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  background-color: #000000;
  background-attachment: fixed;
}

.img-back {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: 0;
}

section {
  padding-bottom: 50px;
}

.main {
  height: 100dvh;
}

.main__text {
  z-index: 3;
  position: relative;
  font-size: 64px;
  font-weight: 700;
  margin-top: auto;
  width: 1700px;
}

.main__inner {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.dark-back {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.wrap {
  position: relative;
  z-index: 5;
}

.bureau__item:nth-child(even) {
  justify-content: flex-end;
}
.bureau__item {
  height: 100dvh;
  position: sticky;
  display: flex;
  justify-content: flex-start;
  top: 0;
  z-index: 4;
}
.bureau__item-inner {
  width: 50%;
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bureau__item-inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: linear-gradient(179.91deg, rgba(0, 0, 0, 0) 0.08%, #000000 113.06%), linear-gradient(0deg, rgba(0, 0, 0, 0) 60.21%, rgba(0, 0, 0, 0.5) 109.33%);
  z-index: 3;
}
.bureau__item-bck {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.bureau__item-title {
  position: relative;
  z-index: 5;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
.bureau__item-text {
  position: relative;
  z-index: 5;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.statistics {
  padding-top: 267px;
}
.statistics__inner {
  height: 100%;
  width: 100%;
}
.statistics__title {
  position: relative;
  z-index: 3;
  font-size: 64px;
  text-wrap: wrap;
  font-weight: 700;
  width: 1634px;
}
.statistics__content {
  position: relative;
  z-index: 3;
  display: flex;
}
.statistics__content-block {
  width: 100%;
}
.statistics__content-left {
  padding-top: 75px;
  width: 100%;
}
.statistics__content-left > .statistics__content-block:not(:first-child) {
  margin-top: 173px;
}
.statistics__content-left > .statistics__content-block:nth-of-type(even) {
  text-align: right;
}
.statistics__content-right {
  padding: 25px 61px 0 286px;
  width: 100%;
}
.statistics__content-right > .statistics__content-block:not(:first-child) {
  margin-top: 325px;
}
.statistics__content-right > .statistics__content-block {
  text-align: right;
}
.statistics__content-right > .statistics__content-block:nth-of-type(even) {
  text-align: left;
}
.statistics__content-title {
  font-size: 64px;
  font-weight: 700;
}
.statistics__content-text {
  font-size: 24px;
  font-weight: 400;
  margin-top: 4px;
}

.char {
  display: inline-block;
  transform: translateY(0); /* Slight downward offset */
  filter: blur(0px) brightness(100%);
  will-change: filter transform;
  position: relative;
  opacity: 0, 
}

.works {
  padding-top: 199px;
}
.works__title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 3;
}
.works__items {
  margin-top: 81px;
}
.works__item {
  width: -moz-min-content;
  width: min-content;
  view-timeline-name: --resize;
}
.works__item:not(:first-child) {
  margin-top: 259px;
}
.works__item:nth-child(3n+2) {
  margin: 259px auto 0 auto;
}
.works__item:nth-child(3n+2) .works__item-title {
  text-align: center;
  width: auto;
}
.works__item:nth-child(3n+2) .works__item-inner {
  justify-content: right;
}
.works__item:nth-child(3n+3) {
  margin-left: auto;
}
.works__item:nth-child(3n+3) > .works__item-inner {
  justify-content: end;
}
.works__item-title {
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  text-wrap: wrap;
  z-index: 3;
  width: 1350px;
}
.works__item-inner {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(3, min-content);
  align-items: start;
}
.works__item-text {
  font-size: 48px;
  font-weight: 700;
  position: relative;
  z-index: 3;
  padding-bottom: 50px;
  width: -moz-max-content;
  width: max-content;
}
text-wrap :wrap .works__item-text > p {
  position: relative;
  z-index: 4;
}
.works__item-img {
  width: 0;
  height: 0;
  position: relative;
  display: inline;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 14px 7px 7px;
}
.works__item-img--back {
  position: relative;
  max-width: 690px;
}
.works__item-img--back::before {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 5;
  background-size: cover;
  background-position: center center;
}

@keyframes resize {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 690px;
    height: 396px;
  }
}
.authors {
  padding-top: 267px;
  scroll-snap-type: y mandatory;
}
.authors__inner {
  display: flex;
  gap: 190px;
  position: relative;
  z-index: 3;
}
.authors__content {
  max-width: 669px;
}
.authors__title {
  font-size: 64px;
  font-weight: 700;
}
.authors__text {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 500;
}
.authors__btn {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1019607843);
  padding: 16px 26px;
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  border-radius: 90px;
  margin-top: 60px;
}
.authors__items {
  display: flex;
  gap: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 10px;
}
.authors__items::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.authors__items::-webkit-scrollbar-thumb {
  background-color: #2c2828;
  border-radius: 10px;
}
.authors__item {
  scroll-snap-align: start;
}
.authors__item-img {
  width: 317px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes resize-2 {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 250px;
    height: 250px;
  }
}
.products {
  padding-top: 168px;
  view-timeline-name: --resize-3;
}
.products__title {
  font-size: 64px;
  font-weight: 700;
  position: relative;
  z-index: 3;
  width: 1700px;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 582;
  gap: 24px;
  position: relative;
  z-index: 3;
  margin-top: 64px;
}
.products__item {
  max-width: 100%;
  width: 100%;
}
.products__item-img {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.products__item-img--bck {
  width: 100%;
  height: 220px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__item-title {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 700;
}
.products__item-text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.header {
  padding: 29px 0;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100dvw;
  transition: 0.4s;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 50px;
  list-style-type: none;
}
.header__menu-link {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

@keyframes resize-3 {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 100%;
    height: 220px;
  }
}
.header--hidden {
  top: -100%;
}

.application {
  padding-top: 186px;
}
.application__inner {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  z-index: 3;
}
.application__title {
  font-size: 64px;
  font-weight: 700;
}
.application__text {
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
}
.application__form {
  margin-top: 60px;
}
.application__form-block {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.application__form-block--left {
  display: flex;
  gap: 12px;
  align-items: center;
}
.application__form-input {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  width: 100%;
  height: 81px;
  border-radius: 24px;
  border: none;
  outline: none;
}
.application__form-textarea {
  width: 100%;
  height: 153px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 24px;
  border: none;
  outline: none;
  padding: 24px;
  resize: none;
}
.application__form-checkbox {
  width: 22px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.2392156863);
  border-radius: 8px;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: center center;
}
.application__form-text {
  font-size: 16px;
  font-weight: 500;
}
.application__form-btn {
  padding: 16px 26px;
  border-radius: 54px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  font-size: 24px;
  height: 65px;
  color: #FFFFFF;
  font-weight: 600;
}

.custom-checkbox {
  display: none;
}

.gray-link {
  color: rgba(255, 255, 255, 0.5019607843);
  font-family: Akshar;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgba(255, 255, 255, 0.5019607843);
  font-size: 16px;
  display: inline-block;
}

.custom-checkbox:checked + .application__form-checkbox {
  background-color: #FFFFFF;
  background-image: url(../img/galka.png);
}

.horizontal-section {
  left: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */